@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
  background-color: antiquewhite;
}

#info {
  text-align: right;
  padding: 10% 5%;
  color: #2F3F3F;
  font-family: Georgia;
}
#info #header {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 5px;
}

#contact {
  margin-top: 15px;
}
#contact a {
  font-family: Monaco;
  color: gray;
}
#contact a:hover {
  color: #606060;
}

.center {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

